.assignment__header__wrapper{
    display: flex;
    justify-content: center;
}
.assignment__header {
    display: flex;
    width: 400px;
    align-items: center;
}
@media all and (max-width:430px){
    .assignment__header{
        width: 330px;
    }
    .assignent__view-all{
        width: 330px !important;
    }
}
.batches__header__title__text1{
    font-weight: 600;
    font-size: 20px;
}
.batches__header__title__text2{
    margin-left: 10px;
    font-size: 13px;
    color: gray;
}
.view-all-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.assignent__view-all{
    width: 400px;
   display: flex;
   justify-content: flex-end;
   font-size: 15px;
   color: gray;
   margin-bottom: 30px;
   cursor: pointer;
}
