.batches {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
@media all and (max-width:430px){
    .batches__header{
        width: 330px;
    }
    .batches__view-all{
        width: 330px !important;
    }
}
.batches__header {
    display: flex;
    align-items: center;
}
.batches__header__title__text {
    margin-right: 125px;
    font-weight: bold;
    font-size: 1.5rem;
}
.batches__header__createbatch {
    display: flex;
    align-items: center;
}
.batches__header__createbatch__text {
    font-size: 0.9rem;
    margin-left: 20px;
}
.batches__header__createbatch .MuiSvgIcon-root {
    font-size: 2.5rem;
    color: #519ce9;
    cursor: pointer;
}
.view-all-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.batches__view-all{
   width: 400px;
   display: flex;
   justify-content: flex-end;
   font-size: 15px;
   color: gray;
   cursor: pointer;
}