.navbar__wrapper{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 410px;
}
@media all and (max-width:430px){
    .navbar {
        width: 340px;
    }
    .navbar__p1{
        width: 270px;
    }
}
.navber__menu__wrapper{
    display: flex;
    align-items: center;
}
.navbar__greeting {
    font-weight: 540;
    font-size: 1.5rem;
    margin-left: 15px;
    font-family: 'Poppins', sans-serif;
}
.navbar__avatar{
    cursor: pointer
}
.navber__menu__wrapper .MuiSvgIcon-root{
    font-size: 3rem;
    color: #6199d8;
    cursor: pointer;
}
.navbar__desc{
    display: flex; 
    justify-content: center;
    margin-top: 15px;
}
.navbar__p1{
    display: flex;
    justify-content: center;    
    color: gray;
    margin-right: 60px;
}